<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Joe, Joey and Sunayna">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsNuilOqbW4EKlRT7AdRVMvh32L4kxuRM"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/css/bundle.css"></link> -->
    <script src="https://use.fontawesome.com/f8382a0e9e.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"></link>
  </head>
  <body>
      {% block content %}
      {% endblock %}
    <script type="text/javascript" src="/js/bundle.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
