.map{
  width: 100vw;
  height: 90vh;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  position: absolute;
  z-index: 3;
  color: #595959;
  margin-top: 10px;
}

.left-half {
  display: flex;
  justify-content: center;
}

.firstHeading {
  font-weight: bolder;
  text-align: center;
}
