.map{
  width: 100vw;
  height: 90vh;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  position: absolute;
  z-index: 3;
  color: #595959;
  margin-top: 10px;
}

.left-half {
  display: flex;
  justify-content: center;
}

.firstHeading {
  font-weight: bolder;
  text-align: center;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Modal Styling*/

.ReactModal__Content {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.event-form input[type="text"], .event-form textarea, .event-form select {
  width: 100%;
}

.submit {
  margin-left: 2px;
  width: 50%;
}

.modal-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.close-modal {
  font-weight: 200;
  align-self: flex-start;
}

.event-form textarea {
  height: 200px;
}

.close-modal:hover {
  cursor: pointer;
}
