.session-link {
  color: white;
  text-decoration: none;
  background: dodgerblue;
  border: 2px solid white;
  padding: 10px;
  text-transform: lowercase;
  border-radius: 5px;
  transition: border-color .2s, color .2s;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.session-link:hover {
  color: dodgerblue;
  text-decoration: none;
  background: white;
  border: 2px solid white;
  text-transform: lowercase;
  border-radius: 5px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  transition: border-color .2s, color .2s;
  cursor: pointer;
}

.session-active {
  text-transform: lowercase;
  color: dodgerblue;
  background: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.fullpage-sign-up, .fullpage-sign-in,
.sign-up-form-container, .sign-in-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form-container, .sign-in-form-container {
  height: 600px;
}

.sign-up-form-box, .sign-in-form-box {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 500px;
  /*border: 5px solid dodgerblue;*/
  /*background: lightskyblue;*/
}

.Links {
  display: flex;
  justify-content: space-evenly;
  background-color: dodgerblue;
  padding: 15px 12.5px 15px 12.5px;
  border: 2px solid dodgerblue;
  border-radius: 10px;
}

.sign-up-input, .sign-in-input, .email-input, .demoLogin,
.sign-up-submit, .sign-in-submit {
  font-family: 'Nunito', sans-serif;
  text-transform: lowercase;
}

.sign-up-input, .sign-in-input, .email-input {
  height: 40px;
  border-bottom: 2px solid deepskyblue;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-size: 1.4em;
  width: 230px;
  padding-left: 10px;
  color: dodgerblue;
  /*border-radius: 5px;*/
}

.sign-up-input:focus, .email-input:focus {
  outline: none;
  border: 2px solid dodgerblue;
  transition: border .2s;
  color: dodgerblue;
  border-radius: 5px;
}

.errors {
  height: 50px;
}

.sign-up-form, .sign-in-form {
  display: grid;
  height: 250px;
  align-items: center;
  justify-content: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightblue;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightblue;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightblue;
}
:-moz-placeholder { /* Firefox 18- */
  color: lightblue;
}

.submit {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.sign-up-submit, .sign-in-submit {
  height: 50px;
}

.sign-up-submit, .sign-in-submit {
  font-size: 1em;
  padding-top:  10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 5px;
}

.demoLogin {
  font-size: 0.5em;
  height: 30px;
}

.sign-up-submit, .sign-in-submit {
  border: 2px solid deepskyblue;
  border-radius: 5px;
  background-color: white;
  color: deepskyblue;
  transition: border .2s, color .2s, background-color .2s;
}

.sign-up-submit:hover, .sign-in-submit:hover {
  border: 2px solid dodgerblue;
  color: dodgerblue;
  transition: border .2s, color .2s;
  cursor: pointer
}

.demoLogin {
  border: 2px solid lightblue;
  border-radius: 5px;
  background-color: white;
  color: lightblue;
  transition: border .2s, color .2s, background-color .2s;
}

.demoLogin:hover {
  border: 2px solid dodgerblue;
  color: dodgerblue;
  background-color: white;
  transition: border .2s, color .2s, background-color .2s;
  cursor: pointer;
}
